// global styles and changing bulma variables

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

$family-sans-serif: "JetBrains+Mono", sans-serif;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
html, body {
    height: 100%;
}

html {
    background-image: url('./assets/background.svg');
    background-size: cover;

    overflow-y: auto !important;
}
